<launch>
  <arg name="config_dir" default="$(find vnm_ros)/config"/>
  <arg name="unidepth_config_file" default="$(find unidepth_ros)/config/unidepth.yaml"/>
  <arg name="start_navigation" default="true"/>
  <arg name="start_depth_estimator" default="true"/>
  <arg name="use_pretrained_weights" default="true"/>
  <arg name="checkpoint_path_override" default=""/>
  <arg name="publish_cmd_vel" default="false"/>
  <arg name="device_override" default=""/>

  <include file="$(find vnm_ros)/launch/navigate.launch" if="$(arg start_navigation)">
    <arg name="config_dir" value="$(arg config_dir)"/>
    <arg name="use_pretrained_weights" value="$(arg use_pretrained_weights)"/>
    <arg name="checkpoint_path_override" value="$(arg checkpoint_path_override)"/>
    <arg name="publish_cmd_vel_override" value="$(arg publish_cmd_vel)"/>
    <arg name="navigation_mode_override" value="explore"/>
    <arg name="direction_conditioning_override" value="false"/>
    <arg name="action_sample_strategy_override" value="care"/>
  </include>

  <include file="$(find unidepth_ros)/launch/unidepth.launch" if="$(arg start_depth_estimator)">
    <arg name="config_file" value="$(arg unidepth_config_file)"/>
    <arg name="device_override" value="$(arg device_override)"/>
  </include>
</launch>
