<launch>
  <arg name="config_dir" default="$(find vnm_ros)/config"/>
  <arg name="topomap_name" default="topomap"/>
  <arg name="checkpoint" default="$(find vnm_ros)/weights/vint.pth"/>

  <node pkg="vnm_ros" type="vnm_node.py" name="vnm_node" output="screen"
        args="--config-dir $(arg config_dir) --topomap-name $(arg topomap_name) --checkpoint $(arg checkpoint)"/>
</launch>

